<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'Cratus Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'Cratus Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
    ID&nbsp;:&nbsp; {{currentUser.studentId}} {{currentUser.tutorId}}  <br />User&nbsp;:&nbsp; {{currentUser.firstName}} {{currentUser.lastName}}
    <br /> &nbsp;&nbsp;&nbsp; <a [routerLink]="['/login']">Logout</a>
    <!-- <li class="nav-item d-md-down-none">  </li>-->
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- Breadcrumb Menu-->
    <cui-breadcrumb>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>
  &copy; 2019 Cratus.</span>
  <span class="ml-auto">Powered by <a href="www.cratustech.com">Cratus</a></span>
</app-footer>