<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <!-- <tab heading="Counsellor Form">
          <div class="card">
            <div class="card-header">
              <strong>Counsellor</strong> Form
            </div>
            <form #counsellorRequestForm="ngForm" class="form-horizontal">

              <div class="card-body">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-email">Name</label>
                  <div class="col-md-9">
                    <input type="text" name="counsellorName" ngModel #counsellorName="ngModel" class="form-control"
                      placeholder="Enter Counsellor Name" autocomplete="counsellor" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-password">Counsellor ID</label>
                  <div class="col-md-9">
                    <input type="text" name="counsellorId" ngModel #counsellorId="ngModel" class="form-control"
                      placeholder=" Enter Counsellor ID" autocomplete="counsellorId" required>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" (click)="onSubmitRequest(counsellorRequestForm.value);"
                  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              </div>
            </form>
          </div>
        </tab> -->
        <tab heading="Details">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>Counsellor</strong> Details
                </div>
                <form #counsellorViewForm="ngForm" class="form-horizontal">

                  <div class="card-body">
                    <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Counsellor</label>
                      <div class="col-md-4">
                        <select id="counsellorId" name="counsellorId" ngModel #counsellorId="ngModel"
                          class="form-control">
                          <option value="">Please select</option>
                          <option value="COU4A000">Bhagawan</option>
                          <option value="COU4T001">Zeki</option>

                        </select>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"
                      (click)='loadcounsellors(counsellorViewForm.value)'><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>


              <div *ngIf="showRequestDetails" class="card">
                <div class="card-header">
                  <strong>Counsellor </strong> Details
                </div>
                <div class="card-body">
                  <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="form-control-static">Counsellor ID : {{ConsellorData?.counsellorId}}</div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-static">Name : {{ConsellorData?.name}}</div>
                    </div>
                  </div>



                  <br />
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="form-control-static" style="text-align:center;">
                        <b> Requests Details </b>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div *ngFor="let requestdata of ConsellorData?.requestList">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <strong>{{requestdata.requestText}} --</strong> <small>{{requestdata.requestId}}</small>
                            </div>
                            <div class="card-body">
                              <div *ngFor="let commentsdata of requestdata?.commentSet">
                                <alert type="success">
                                  <!-- <h4 class="alert-heading"> Comment ID : {{commentsdata.commentId}}</h4> -->
                                  <p class="mb-0">Comments : {{commentsdata.commentText}}</p>
                                  <p>Commented By: {{commentsdata.tutorId}}</p>
                                </alert>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <!-- </form> -->
                </div>

              </div>
            </div>
          </div>
          <!--/.row-->
        </tab>

      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->


</div>