<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>

        <tab heading="Profile">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>View Student </strong> Details
                </div>
                <form #studentViewForm="ngForm" class="form-horizontal">
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Student</label>
                      <div class="col-md-6">
                        <select id="studentId" name="studentId" ngModel #studentId="ngModel" class="form-control">
                          <option value="0">Please select</option>
                          <option value="STD2A001">Abhilash Raju</option>
                          <option value="STD2G001">Geethika Chepuru</option>
                          <option value="STD2N000">Neeraja Chepuru</option>
                          <option value="STD2P000">Praneetha Chepuru</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"
                      (click)='loadStudentDetails(studentId.value)'><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>


              <div *ngIf="showStudentDetails" class="card">
                <div class="card-header">
                  <strong>Profile </strong> Details
                </div>
                <div class="card-body">
                  <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="form-control-static">StudentId ID : {{StudentData?.studentId}}</div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-static">Name : {{StudentData?.name}}</div>
                    </div>
                  </div>
             
                  <br />
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="form-control-static" style="text-align:center;">
                        <b> Requests Details </b>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div *ngFor="let requestdata of StudentData?.requestList">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <strong>{{requestdata.requestText}} --</strong> <small>{{requestdata.requestId}}</small>
                            </div>
                            <div class="card-body">
                              <div *ngFor="let commentsdata of requestdata?.commentSet">
                                <alert type="success">
                                  <!-- <h4 class="alert-heading"> Comment ID : {{commentsdata.commentId}}</h4> -->
                                  <p class="mb-0">Comments : {{commentsdata.commentText}}</p>
                                  <p>Commented By: {{commentsdata.tutorId}}</p>
                                </alert>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </tab>

        <tab heading="Request">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>Create</strong> Request
                </div>
                <form #requestForm="ngForm" class="form-horizontal">
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Student</label>
                      <div class="col-md-4">
                        <select id="studentRequestName" name="studentRequestName" ngModel #studentRequestName="ngModel"
                          class="form-control">
                          <option value="0">Please select</option>
                          <option value="STD2A001">Abhilash Raju</option>
                          <option value="STD2G001">Geethika Chepuru</option>
                          <option value="STD2N000">Neeraja Chepuru</option>
                          <option value="STD2P000">Praneetha Chepuru</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Tutor</label>
                      <div class="col-md-4">
                        <select id="studentRequestTutorName" name="studentRequestTutorName" ngModel
                          #studentRequestTutorName="ngModel" class="form-control">
                          <option value="">Please select</option>
                          <option value="TUT3M003">Mani S</option>
                          <option value="TUT3R002">Raghuveer K</option>
                          <option value="TUT3S000">Satheesh Ch</option>
                          <option value="TUT3S001">Sravan M</option>
                          <option value="TUT3V000">Venkat P</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Counsellor</label>
                      <div class="col-md-4">
                        <select id="studentRequestCounsellorName" name="studentRequestCounsellorName" ngModel
                          #studentRequestCounsellorName="ngModel" class="form-control">
                          <option value="">Please select</option>
                          <option value="COU4A000">Bhagawan</option>
                          <option value="COU4T001">Zeki</option>

                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="textarea-input">Enter
                        Request</label>
                      <div class="col-md-6">
                        <textarea id="studentRequestTextArea" name="studentRequestTextArea" ngModel
                          #studentRequestTextArea="ngModel" rows="3" class="form-control"
                          placeholder="Enter Request Details"></textarea>
                      </div>
                    </div>


                    <!-- </form> -->
                  </div>
                  <div class="card-footer">
                    <button type="submit" (click)="onRequestCreate(requestForm.value);"
                      class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
          <!--/.row-->
        </tab>

        <tab heading="View">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>View</strong> Details
                </div>
                <form #requestViewForm="ngForm" class="form-horizontal">
                  <div class="card-body">
                    <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->


                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Student</label>
                      <div class="col-md-6">
                        <select id="studentReuestId" (change)="getStudentDetails(studentReuestId.value)"
                          name="studentReuestId" ngModel #studentReuestId="ngModel" class="form-control">
                          <option value="0">Please select</option>
                          <option value="STD2A001">Abhilash Raju</option>
                          <option value="STD2G001">Geethika Chepuru</option>
                          <option value="STD2N000">Neeraja Chepuru</option>
                          <option value="STD2P000">Praneetha Chepuru</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select
                        Request</label>
                      <div class="col-md-6">
                        <select id="requestId" name="requestId" ngModel #requestId="ngModel" class="form-control">
                          <option value="1">Please select</option>
                          <!-- <option value="REQRN000">Need help on Datastructures</option>
                          <option value="RQR40000">Need help on Datastructures and JAVA</option> -->
                          <option *ngFor="let requestdata of StudentReuestData?.requestList"
                            value={{requestdata.requestId}}>
                            {{requestdata.requestText}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"
                      (click)='loadRequestDetails(requestId.value)'><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>


              <div *ngIf="showRequestDetails" class="card">

                <!-- 
                  <div class="detailBox">
                      <div class="titleBox">
                        <label>Comment Box</label>
                          <button type="button" class="close" aria-hidden="true">&times;</button>
                      </div>
                      <div class="commentBox">
                          
                          <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      </div>
                      <div class="actionBox">
                          <ul class="commentList">
                              <li>
                                  <div class="commenterImage">
                                    <img src="http://placekitten.com/50/50" />
                                  </div>
                                  <div class="commentText">
                                      <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                  
                                  </div>
                              </li>
                              <li>
                                  <div class="commenterImage">
                                    <img src="http://placekitten.com/45/45" />
                                  </div>
                                  <div class="commentText">
                                      <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                  
                                  </div>
                              </li>
                              <li>
                                  <div class="commenterImage">
                                    <img src="http://placekitten.com/40/40" />
                                  </div>
                                  <div class="commentText">
                                      <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                  
                                  </div>
                              </li>
                          </ul>
                          <form class="form-inline" role="form">
                              <div class="form-group">
                                  <input class="form-control" type="text" placeholder="Your comments" />
                              </div>
                              <div class="form-group">
                                  <button class="btn btn-default">Add</button>
                              </div>
                          </form>
                      </div>
                  </div>
 -->


                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <strong>Alerts</strong> <small>dynamic html</small>
                    </div>
                    <div class="card-body">
                      <div *ngFor="let alert of alertsHtml">
                        <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-header">
                  <strong>Request </strong> Details
                </div>
                <div class="card-body">
                  <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="form-control-static">Request ID : {{RequestData?.requestId}}</div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-static">Request Text : {{RequestData?.requestText}}</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <br />
                      <div class="col-md-12">
                        <div class="form-control-static"> <b> Comments Details </b></div>
                        <br />
                        <div *ngFor="let commentsdata of RequestData?.commentSet">
                          <div class="col-md-2">
                            <div class="form-control-static"> Comment ID : {{commentsdata.commentId}}</div>
                          </div>
                          <br />
                          <div class="col-md-10">
                            <div class="form-control-static">Comment : {{commentsdata.commentText}}</div>
                          </div>
                          <br />
                          <div class="col-md-4">
                            <div class="form-control-static">Tutor ID: {{commentsdata.tutorId}}</div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <!-- <div *ngFor="let requestdata of StudentData?.requestList">
                        <div class="col-md-2">
                          <div class="form-control-static"> Request ID : {{requestdata.requestId}}</div>
                        </div>
                        <br />
                        <div class="col-md-10">
                          <div class="form-control-static">Request Text : {{requestdata.requestText}}</div>
                        </div>
                        <br />
                        <div class="col-md-4">
                          <div class="form-control-static"> Request Date : {{requestdata.createdDate}}</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                          <div class="form-control-static"> <b> Comments Details </b></div>
                          <br />
                          <div *ngFor="let commentsdata of RequestData?.commentSet">
                            <div class="col-md-2">
                              <div class="form-control-static"> Comment ID : {{commentsdata.commentId}}</div>
                            </div>
                            <br />
                            <div class="col-md-10">
                              <div class="form-control-static">Comment : {{commentsdata.commentText}}</div>
                            </div>
                            <br />
                            <div class="col-md-4">
                              <div class="form-control-static">Tutor ID: {{commentsdata.tutorId}}</div>
                            </div>
                          </div>
                        </div>
                        <br />
                      </div> -->
                    </div>
                  </div>
                  <!-- </form> -->
                </div>
                <div class="card-footer">
                  <!--                     
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                       -->
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
        </tab>


      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>