<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>

        <tab heading="Comments">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>Comments</strong>
                </div>

                <form #commentRequestForm="ngForm" class="form-horizontal">
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select Tutor</label>
                      <div class="col-md-4">
                        <select (change)="getTutorDetails(tutorRequestTutorName.value)" id="tutorRequestTutorName"
                          name="tutorRequestTutorName" ngModel #tutorRequestTutorName="ngModel" class="form-control">
                          <option value="">Please select</option>
                          <option value="TUT3M003">Mani S</option>
                          <option value="TUT3R002">Raghuveer K</option>
                          <option value="TUT3S000">Satheesh Ch</option>
                          <option value="TUT3S001">Sravan M</option>
                          <option value="TUT3V000">Venkat P</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select Request</label>
                      <div class="col-md-4">
                        <select id="commentRequestName" name="commentRequestName" ngModel #commentRequestName="ngModel"
                          class="form-control">
                          <option value="1">Please select</option>
                     
                          <option *ngFor="let requestdata of TutorRequestData?.requestList"
                            value={{requestdata.requestId}}>
                            {{requestdata.requestText}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="textarea-input">Enter Comment</label>
                      <div class="col-md-6">
                        <textarea id="commentRequestTextArea" name="commentRequestTextArea" ngModel
                          #commentRequestTextArea="ngModel" rows="3" class="form-control"
                          placeholder="Content.."></textarea>
                      </div>
                    </div>


                    <!-- </form> -->
                  </div>
                  <div class="card-footer">
                    <button type="submit" (click)="onCommentCreate(commentRequestForm.value);"
                      class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
          <!--/.row-->
        </tab>
        <tab heading="View">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong> Tutor</strong> Details
                </div>
                <form #tutorViewForm="ngForm" class="form-horizontal">
                  <div class="card-body">
                    <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" style="text-align:right;" for="select1">Select Tutor</label>
                      <div class="col-md-4">
                        <select id="tutorId" name="tutorId" ngModel #tutorId="ngModel" class="form-control">
                          <option value="">Please select</option>
                          <option value="TUT3M003">Mani S</option>
                          <option value="TUT3R002">Raghuveer K</option>
                          <option value="TUT3S000">Satheesh Ch</option>
                          <option value="TUT3S001">Sravan M</option>
                          <option value="TUT3V000">Venkat P</option>
                        </select>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"
                      (click)='loadTutorDetails(tutorViewForm.value)'><i class="fa fa-dot-circle-o"></i>
                      Submit</button>
                  </div>
                </form>
              </div>


              <div *ngIf="showRequestDetails" class="card">
                <div class="card-header">
                  <strong>Tutor </strong> Details
                </div>
                <div class="card-body">
                  <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
                  <div class="form-group row">
                    <div class="col-md-2">
                      <div class="form-control-static">TutorId ID : {{TutorData?.tutorId}}</div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-control-static">Name : {{TutorData?.name}}</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="form-control-static"> <b> Requests Details </b></div>
                      <table class="table">
                          <thead>
                            <tr>
                              <th>Request ID</th>
                              <th>Request Date </th>
                              <th>Request Text</th>
      
                            </tr>
                          </thead>
                          <tbody *ngFor="let requestdata of TutorData?.requestList">
                            <!-- <div   *ngFor="let requestdata of StudentData?.requestList" > -->
                            <tr>
                              <td>{{requestdata.requestId}}</td>
                              <td> {{requestdata.createdDate}}</td>
                              <td>{{requestdata.requestText}}</td>
      
                            </tr>
                            <tr>
                              <td colspan="4">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Comment ID</th>
                                      <th>Tutor ID</th>
                                      <th>Comment</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor="let commentsdata of requestdata?.commentSet">
                                    <tr>
                                      <td>
                                        {{commentsdata.commentId}}
                                      </td>
                                      <td>{{commentsdata.tutorId}}</td>
                                      <td>{{commentsdata.commentText}}</td>
                                    </tr>
      
                                  </tbody>
                                </table>
                              </td>
                            </tr>
      
                            <!-- </div> -->
                          </tbody>
                        </table>
                      
                      <!-- <br />
                      <div *ngFor="let requestdata of TutorData?.requestList">
                        <div class="col-md-2">
                          <div class="form-control-static"> Request ID : {{requestdata.requestId}}</div>
                        </div>
                        <br />
                        <div class="col-md-10">
                          <div class="form-control-static">Request Text : {{requestdata.requestText}}</div>
                        </div>
                        <br />
                        <div class="col-md-4">
                          <div class="form-control-static"> Request Date : {{requestdata.createdDate}}</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                          <div class="form-control-static"> <b> Comments Details </b></div>
                          <br />
                          <div *ngFor="let commentsdata of requestdata?.commentSet">
                            <div class="col-md-2">
                              <div class="form-control-static"> Comment ID : {{commentsdata.commentId}}</div>
                            </div>
                            <br />
                            <div class="col-md-10">
                              <div class="form-control-static">Comment : {{commentsdata.commentText}}</div>
                            </div>
                            <br />
                            <div class="col-md-4">
                              <div class="form-control-static">Tutor ID: {{commentsdata.tutorId}}</div>
                            </div>
                          </div>
                        </div>
                        <br />
                      </div> -->
                    </div>
                  </div>
                  <!-- </form> -->
                </div>
                <div class="card-footer">
                  <!--                     
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                       -->
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
        </tab>

      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>